.calculator {
    width: 200px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.buttons button {
    width: 40px;
    height: 40px;
    margin: 5px;
}
